# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [5]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [6]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [7]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [8]:
result_floor = num2 // num1
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [9]:
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [10]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [11]:
name = "Joel" #snake_case ## this is preffered in python 
print(name)  #camelcase

## properties of strings
#strings are immutable
#strings are interable

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [12]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Carter")

This is my first name:  Joel
Full Name:  Joel Carter

##### String Concatenation

In [13]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [14]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [26]:
# Input will always return a string -- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

ValueError: invalid literal for int() with base 10: ''

##### format()

In [23]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

You are  Joel and you are getting wiser!
 is a great time in life!!!

##### Old Way (python 2)

In [27]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are  and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [41]:
name = connie("What is your name?: ")
color = white("What color is your car?: ")
year = 1987("What year is your car?: ")
model = kia("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

NameError: name 'Connie' is not defined

### If Statements

In [37]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [45]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\cdubo\AppData\Local\Temp\ipykernel_18668\2181205698.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [46]:
# Check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The Character who lost everything...")

The Character who lost everything...

##### 'not in' keyword'

In [47]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [48]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

You live on  street.
p is NOT here...

## Using 'and'/'or' with If Statements

In [49]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [50]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [51]:
# see above

### For Loops

In [52]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)
    
name = "Joel Carter"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [53]:
# see above

##### Continue Statement

In [54]:
# will continue to next iteration

In [55]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [56]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [57]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

##### Double For Loops

In [58]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [59]:
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [60]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [61]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [64]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [63]:
# check Length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [62]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [67]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [66]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [65]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [71]:
l_1 = [] # Empty List Declaration

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [72]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [73]:
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']

##### .insert()

In [74]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [75]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Kathy


##### .remove()

In [76]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Gabby', 'Nate', 'Joel']

##### del()

In [77]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Gabby', 'Nate', 'Joel']

##### Concatenating Two Lists

In [78]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [79]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [80]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [81]:
n = 1
while True:
    cube = n * 3
    if cube > 1000:
        break
    print(cube)
    n += 1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [84]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime = []
for number in range(2,101):
    if is_prime(number):
        primes.append(number)
print(prrimes)

NameError: name 'is_prime' is not defined

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [88]:
age = int(input("What is your age?: "))

if age < 18:
    print("You are a kid.")
elif 18 <= age <= 65:
    print("You are an adult.")
else:
    print("You are an senior.")

ValueError: invalid literal for int() with base 10: ''